---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://finviz.com/screener.ashx?v=130&s=ta_unusualvolume&f=exch_nyse,cap_largeunder&o=-volume
    method: GET
  response:
    body: "<!DOCTYPE HTML PUBLIC \"-//W3C//DTD HTML 4.0 Transitional//EN\">\n<html>\n<head>\n<title>Stock
      Screener - Ownership ta_unusualvolume largeunder nyse volume</title>\n<meta
      charset=\"UTF-8\"><meta name=\"description\" content=\"Stock screener for investors
      and traders, financial visualizations.\">\n<meta name=\"keywords\" content=\"Stock
      Screener, Charts, Quotes, Maps, News, Financial Visualizations, Research, Trading
      Systems\">\n<meta name=\"robots\" content=\"noindex\">\n<meta http-equiv=\"imagetoolbar\"
      content=\"no\">\n<meta http-equiv=\"pragma\" content=\"no-cache\">\n<meta http-equiv=\"cache-control\"
      content=\"no-cache\">\n<meta http-equiv=\"Expires\" content=\"-1\">\n<link href=\"//fonts.googleapis.com/css?family=Lato:400,700,900\"
      rel=\"stylesheet\" type=\"text/css\"><link rel=\"stylesheet\" href=\"/assets/dist/finviz_old.e01805e6.css\"
      type=\"text/css\">\n<link rel=\"icon\" type=\"image/png\" href=\"/favicon_2x.png\"
      sizes=\"32x32\">\n<link rel=\"icon\" type=\"image/png\" href=\"/favicon.png\"
      sizes=\"16x16\">\n<script src=\"/script/boxover.js?rev=282\" type=\"text/javascript\"></script>\n<script
      type=\"text/javascript\">FinvizSettings = {hasUserPremium: false, name: \"\",
      chartsDomain: \"https://charts2.finviz.com\"};</script><script type=\"text/javascript\"
      src=\"/js/libs/shims.min.js?rev=282\"></script><script type=\"text/javascript\"
      src=\"/js/libs/d3-json.js?rev=282\"></script><script src=\"/script/libs/bowser2.min.js?rev=282\"
      type=\"text/javascript\"></script>\r\n            <script type=\"text/javascript\"
      src=\"/assets/dist/runtime.a2898119.js\"></script>\r\n            <script type=\"text/javascript\"
      src=\"/assets/dist/vendors.3528b403.[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://finviz.com/screener.ashx?v=130&s=ta_unusualvolume&f=exch_nyse,cap_largeunder&o=-volume&r=21
    method: GET
  response:
    body: Too many requests.
    headers:
      Content-Type:
      - text/html; charset=utf-8
    status: 200 OK
    code: 200
    duration: ""
[...]
