---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://finviz.com/screener.ashx?v=410&f=exch_nyse&o=-volume
    method: GET
  response:
    body: "<!DOCTYPE HTML PUBLIC \"-//W3C//DTD HTML 4.0 Transitional//EN\">\n<html>\n<head>\n<title>Stock
      Screener - Tickers nyse volume</title>\n<meta charset=\"UTF-8\"><meta name=\"description\"
      content=\"Stock screener for investors and traders, financial visualizations.\">\n<meta
      name=\"keywords\" content=\"Stock Screener, Charts, Quotes, Maps, News, Financial
      Visualizations, Research, Trading Systems\">\n<meta name=\"robots\" content=\"noindex\">\n<meta
      http-equiv=\"imagetoolbar\" content=\"no\">\n<meta http-equiv=\"pragma\" content=\"no-cache\">\n<meta
      http-equiv=\"cache-control\" content=\"no-cache\">\n<meta http-equiv=\"Expires\"
      content=\"-1\">\n\r\n            <link rel=\"preload\" href=\"/fonts/lato-v17-latin-ext_latin-regular.woff2\"
      as=\"font\" crossorigin>\r\n            <link rel=\"preload\" href=\"/fonts/lato-v17-latin-ext_latin-700.woff2\"
      as=\"font\" crossorigin>\r\n            <link rel=\"preload\" href=\"/fonts/lato-v17-latin-ext_latin-900.woff2\"
      as=\"font\" crossorigin>\r\n            <link rel=\"preload\" href=\"/fonts/inter-latin.woff2\"
      as=\"font\" crossorigin>\r\n        <link rel=\"stylesheet\" href=\"/assets/dist/finviz_old.e01805e6.css\"
      type=\"text/css\">\n<link rel=\"icon\" type=\"image/png\" href=\"/favicon_2x.png\"
      sizes=\"32x32\">\n<link rel=\"icon\" type=\"image/png\" href=\"/favicon.png\"
      sizes=\"16x16\">\n<script src=\"/script/boxover.js?rev=282\" type=\"text/javascript\"></script>\n<script
      type=\"text/javascript\">FinvizSettings = {hasUserPremium: false, name: \"\",
      chartsDomain: \"https://charts2.finviz.com\"};</script><script type=\"text/javascript\"
      src=\"/js/libs/shims.min.js?rev=282\"></script><script type=\"text/javascript\"
      src=\"/js/libs/d3-json.js?rev=282\"></script><script src=\"/script/libs/bowser2.min.js?rev=282\"
      type=\"text/javascript\"></script>\r\n            <script type=\"text/javascript\"
      src=\"/assets/dist/runtime.180823fc.js\"></script>\r\n            <script type=\"text/javascript\"
      src=\"/assets/dist/vendors.082a8b09.[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://finviz.com/screener.ashx?v=410&f=exch_nyse&o=-volume&r=1001
    method: GET
  response:
    body: "<!DOCTYPE HTML PUBLIC \"-//W3C//DTD HTML 4.0 Transitional//EN\">\n<html>\n<head>\n<title>Stock
      Screener - Tickers nyse volume</title>\n<meta charset=\"UTF-8\"><meta name=\"description\"
      content=\"Stock screener for investors and traders, financial visualizations.\">\n<meta
      name=\"keywords\" content=\"Stock Screener[...]
