---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://finviz.com/quote.ashx?t=TSLA&ty=c&p=d&b=1
    method: GET
  response:
    body: "<!DOCTYPE html>\n<html>\n<head>\n<title>TSLA Tesla, Inc. Stock Quote</title>\n<meta
      charset=\"UTF-8\"><meta http-equiv=\"X-UA-Compatible\" content=\"IE=edge\">\r\n
      \                        <meta name=\"viewport\" content=\"width=1024\"><meta
      name=\"description\" content=\"Stock screener for investors and traders, financial
      visualizations.\">\n<meta name=\"keywords\" content=\"Stock Screener, Charts,
      Quotes, Maps, News, Financial Visualizations, Research, Trading Systems\">\n<meta
      http-equiv=\"imagetoolbar\" content=\"no\">\n<meta http-equiv=\"pragma\" content=\"no-cache\">\n<meta
      http-equiv=\"cache-control\" content=\"no-cache\">\n<meta http-equiv=\"Expires\"
      content=\"-1\">\n\r\n            <link rel=\"preload\" href=\"/fonts/lato-v17-latin-ext_latin-regular.woff2\"
      as=\"font\" crossorigin>\r\n            <link rel=\"preload\" href=\"/fonts/lato-v17-latin-ext_latin-700.woff2\"
      as=\"font\" crossorigin>\r\n            <link rel=\"preload\" href=\"/fonts/lato-v17-latin-ext_latin-900.woff2\"
      as=\"font\" crossorigin>\r\n            <link rel=\"preload\" href=\"/fonts/inter-latin.woff2\"
      as=\"font\" crossorigin>\r\n        <link rel=\"stylesheet\" href=\"/assets/dist/finviz.4a466aa9.css\"
      type=\"text/css\">\n<link rel=\"stylesheet\" href=\"/assets/dist/main.333dc3ef.css\"
      type=\"text/css\">\n<link rel=\"icon\" type=\"image/png\" href=\"/favicon_2x.png\"
      sizes=\"32x32\">\n<link rel=\"icon\" type=\"image/png\" href=\"/favicon.png\"
      sizes=\"16x16\">\n<script type=\"text/javascript\">FinvizSettings = {hasUserPremium:
      false, name: \"\", chartsDomain: \"https://charts2.finviz.com\", nodeChartsDomain:
      \"\", hasUserPersistentDrawings: false, hasUserNodeCharts: false, hasUserStickyHeader:
      false};</script><script src=\"/script/boxover.js?rev=288\" type=\"text/javascript\"></script>\n<script
      type=\"text/javascript\" src=\"/js/libs/d3-json.js\"></script><script src=\"/script/libs/browser_support.js?rev=288\"
      type=\"text/javascri[...]
