---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://finviz.com/screener.ashx?v=150&s=ta_unusualvolume&f=exch_nyse&o=-volume&c=0,1,3,2,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70
    method: GET
  response:
    body: "<!DOCTYPE HTML PUBLIC \"-//W3C//DTD HTML 4.0 Transitional//EN\">\n<html>\n<head>\n<title>Stock Screener - Custom ta_unusualvolume nyse volume</title>\n<meta name=\"description\" content=\"Stock screener for investors and traders, financial visualizations.\">\n<meta name=\"keywords\" content=\"Stock Screener, Charts, Quotes, Maps, News, Financial Visualizations, Research, Trading Systems\">\n<meta name=\"robots\" content=\"noindex\">\n<meta http-equiv=\"imagetoolbar\" content=\"no\">\n<meta http-equiv=\"pragma\" content=\"no-cache\">\n<meta http-equiv=\"cache-control\" content=\"no-cache\">\n<meta http-equiv=\"Expires\" content=\"-1\">\n<link href=\"//fonts.googleapis.com/css?family=Lato:400,700,900\" rel=\"stylesheet\" type=\"text/css\"><link rel=\"stylesheet\" href=\"/css/finviz_old.css?rev=142\" type=\"text/css\">\n<link rel=\"icon\" type=\"image/png\" href=\"/favicon_2x.png\" sizes=\"32x32\">\n<link rel=\"icon\" type=\"image/png\" href=\"/favicon.png\" sizes=\"16x16\">\n<script src=\"/script/boxover.js?rev=233\" type=\"text/javascript\"></script>\n<script type=\"text/javascript\">FinvizSettings = {hasUserPremium: false, name: \"\", chartsDomain: \"https://charts2.finviz.com\"};</script><script type=\"text/javascript\" src=\"/js/libs/shims.min.js?rev=233\"></script><script type=\"text/javascript\" src=\"/js/libs/d3-json.js?rev=233\"></script>\r\n            <script type=\"text/javascript\" src=\"/js/dist/runtime.bundle.js?rev=233\"></script>\r\n            <script type=[...]
