---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://finviz.com/news.ashx?v=2
    method: GET
  response:
    body: "<!DOCTYPE html>\n<html>\n<head>\n<title>Stock Market News & Blogs</title>\n<meta http-equiv=\"X-UA-Compatible\" content=\"IE=edge\">\r\n                         <meta name=\"viewport\" content=\"width=1024\"><meta name=\"description\" content=\"Stock screener for investors and traders, financial visualizations.\">\n<meta name=\"keywords\" content=\"Stock Screener, Charts, Quotes, Maps, News, Financial Visualizations, Research, Trading Systems\">\n<meta http-equiv=\"imagetoolbar\" content=\"no\">\n<meta http-equiv=\"pragma\" content=\"no-cache\">\n<meta http-equiv=\"cache-control\" content=\"no-cache\">\n<meta http-equiv=\"Expires\" content=\"-1\">\n<meta http-equiv=\"Refresh\" content=\"3600\">\n<link href=\"//fonts.googleapis.com/css?family=Lato:400,700,900\" rel=\"stylesheet\" type=\"text/css\"><link rel=\"stylesheet\" href=\"/css/finviz.css?rev=142\" type=\"text/css\">\n<link rel=\"icon\" type=\"image/png\" href=\"/favicon_2x.png\" sizes=\"32x32\">\n<link rel=\"icon\" type=\"image/png\" href=\"/favicon.png\" sizes=\"16x16\">\n<script type=\"text/javascript\">FinvizSettings = {hasUserPremium: false, name: \"\", chartsDomain: \"https://charts2.finviz.com\"};</script><script src=\"/script/boxover.js?rev=233\" type=\"text/javascript\"></script>\n<script type=\"text/javascript\" src=\"/js/libs/shims.min.js?rev=233\"></script><script type=\"text/javascript\" src=\"/js/libs/d3-json.js\"></script>\r\n            <script type=\"text/javascript\" src=\"/js/dist/runtime.bundle.js?rev=233\"></script>\r\n            <script type=\"text/j[...]
