---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://finviz.com/news.ashx
    method: GET
  response:
    body: "<!DOCTYPE html>\n<html>\n<head>\n<title>Stock Market News & Blogs</title>\n<meta
      charset=\"UTF-8\"><meta http-equiv=\"X-UA-Compatible\" content=\"IE=edge\">\r\n
      \                        <meta name=\"viewport\" content=\"width=1024\"><meta
      name=\"description\" content=\"Stock screener for investors and traders, financial
      visualizations.\">\n<meta name=\"keywords\" content=\"Stock Screener, Charts,
      Quotes, Maps, News, Financial Visualizations, Research, Trading Systems\">\n<meta
      http-equiv=\"imagetoolbar\" content=\"no\">\n<meta http-equiv=\"pragma\" content=\"no-cache\">\n<meta
      http-equiv=\"cache-control\" content=\"no-cache\">\n<meta http-equiv=\"Expires\"
      content=\"-1\">\n<meta http-equiv=\"Refresh\" content=\"3600\">\n\r\n            <link
      rel=\"preload\" href=\"/fonts/lato-v17-latin-ext_latin-regular.woff2\" as=\"font\"
      crossorigin>\r\n            <link rel=\"preload\" href=\"/fonts/lato-v17-latin-ext_latin-700.woff2\"
      as=\"font\" crossorigin>\r\n            <link rel=\"preload\" href=\"/fonts/lato-v17-latin-ext_latin-900.woff2\"
      as=\"font\" crossorigin>\r\n            <link rel=\"preload\" href=\"/fonts/inter-latin.woff2\"
      as=\"font\" crossorigin>\r\n        <link rel=\"stylesheet\" href=\"/assets/dist/finviz.069b731d.css\"
      type=\"text/css\">\n<link rel=\"stylesheet\" href=\"/assets/dist/main.0f6966f0.css\"
      type=\"text/css\">\n<link rel=\"icon\" type=\"image/png\" href=\"/favicon_2x.png\"
      sizes=\"32x32\">\n<link rel=\"icon\" type=\"image/png\" href=\"/favicon.png\"
      sizes=\"16x16\">\n<script type=\"text/javascript\">FinvizSettings = {hasUserPremium:
      false, name: \"\", chartsDomain: \"https://charts2.finviz.com\", nodeChartsDomain:
      \"https://charts2-node.finviz.com\", hasUserPersistentDrawings: false, hasUserNodeCharts:
      true, hasUserStickyHeader: true};</script><script src=\"/script/vendor/boxover.js?rev=297\"
      type=\"text/javascript\"></script>\n<script type=\"text/javascript\" src=\"/script/vendor/d3-json.js\"></script><script
      src=\"/script/browser_supp[...]
