---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://finviz.com/quote.ashx?t=GOOG&ty=c&p=d&b=1
    method: GET
  response:
    body: "<!DOCTYPE HTML PUBLIC \"-//W3C//DTD HTML 4.0 Transitional//EN\">\n<html>\n<head>\n<title>GOOG
      Alphabet Inc. Stock Quote</title>\n<meta name=\"description\" content=\"Stock
      screener for investors and traders, financial visualizations.\">\n<meta name=\"keywords\"
      content=\"Stock Screener, Charts, Quotes, Maps, News, Financial Visualizations,
      Research, Trading Systems\">\n<meta http-equiv=\"imagetoolbar\" content=\"no\">\n<meta
      http-equiv=\"pragma\" content=\"no-cache\">\n<meta http-equiv=\"cache-control\"
      content=\"no-cache\">\n<meta http-equiv=\"Expires\" content=\"-1\">\n<link href=\"//fonts.googleapis.com/css?family=Lato:400,700,900\"
      rel=\"stylesheet\" type=\"text/css\"><link rel=\"stylesheet\" href=\"/css/finviz_old.css?rev=151\"
      type=\"text/css\">\n<link rel=\"icon\" type=\"image/png\" href=\"/favicon_2x.png\"
      sizes=\"32x32\">\n<link rel=\"icon\" type=\"image/png\" href=\"/favicon.png\"
      sizes=\"16x16\">\n<script src=\"/script/boxover.js?rev=249\" type=\"text/javascript\"></script>\n<script
      type=\"text/javascript\">FinvizSettings = {hasUserPremium: false, name: \"\",
      chartsDomain: \"https://charts2.finviz.com\"};</script><script type=\"text/javascript\"
      src=\"/js/libs/shims.min.js?rev=249\"></script><script type=\"text/javascript\"
      src=\"/js/libs/d3-json.js?rev=249\"></script>\r\n            <script type=\"text/javascript\"
      src=\"/js/dist/runtime.bundle.js?rev=249\"></script>\r\n            <script
      type=\"text/javascript\" src=\"/js/dist/vendors.bundle.js?rev=249\"></script>\r\n
      \           <script type=\"text/javascript\" src=\"/js/dist/hea[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://finviz.com/quote.ashx?t=AAPL&ty=c&p=d&b=1
    method: GET
  response:
    body: "<!DOCTYPE HTML PUBLIC \"-//W3C//DTD HTML 4.0 Transitional//EN\">\n<html>\n<head>\n<title>AAPL
      Apple Inc. Stock Quote</title>\n<meta name=\"description\" content=\"Stock screener
      for investors and traders, financial visualizations.\">\n<meta name=\"keywords\"
      content=\"Stock Screener, Charts, Quotes, Maps, News, Financial Visualizati[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://finviz.com/quote.ashx?t=NFLX&ty=c&p=d&b=1
    method: GET
  response:
    body: "<!DOCTYPE HTML PUBLIC \"-//W3C//DTD HTML 4.0 Transitional//EN\">\n<html>\n<head>\n<title>NFLX
      Netflix, Inc. Stock Quote</title>\n<meta name=\"description\" content=\"Stock
      screener for investors and traders, financial visualizations.\">\n<meta name=\"keywords\"
      content=\"Stock Screener, Charts, Quotes, Maps, News, Financial Visualiz[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://finviz.com/quote.ashx?t=AMZN&ty=c&p=d&b=1
    method: GET
  response:
    body: "<!DOCTYPE HTML PUBLIC \"-//W3C//DTD HTML 4.0 Transitional//EN\">\n<html>\n<head>\n<title>AMZN
      Amazon.com, Inc. Stock Quote</title>\n<meta name=\"description\" content=\"Stock
      screener for investors and traders, financial visualizations.\">\n<meta name=\"keywords\"
      content=\"Stock Screener, Charts, Quotes, Maps, News, Financial Visua[...]
