---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://finviz.com/calendar.ashx
    method: GET
  response:
    body: "<!DOCTYPE HTML PUBLIC \"-//W3C//DTD HTML 4.0 Transitional//EN\">\n<html>\n<head>\n<title>Economic
      Calendar</title>\n<meta charset=\"UTF-8\"><meta name=\"description\" content=\"Stock
      screener for investors and traders, financial visualizations.\">\n<meta name=\"keywords\"
      content=\"Stock Screener, Charts, Quotes, Maps, News, Financial Visualizations,
      Research, Trading Systems\">\n<meta http-equiv=\"imagetoolbar\" content=\"no\">\n<meta
      http-equiv=\"pragma\" content=\"no-cache\">\n<meta http-equiv=\"cache-control\"
      content=\"no-cache\">\n<meta http-equiv=\"Expires\" content=\"-1\">\n\r\n            <link
      rel=\"preload\" href=\"/fonts/lato-v17-latin-ext_latin-regular.woff2\" as=\"font\"
      crossorigin>\r\n            <link rel=\"preload\" href=\"/fonts/lato-v17-latin-ext_latin-700.woff2\"
      as=\"font\" crossorigin>\r\n            <link rel=\"preload\" href=\"/fonts/lato-v17-latin-ext_latin-900.woff2\"
      as=\"font\" crossorigin>\r\n            <link rel=\"preload\" href=\"/fonts/inter-latin.woff2\"
      as=\"font\" crossorigin>\r\n        <link rel=\"stylesheet\" href=\"/assets/dist/finviz_old.b6b95b29.css\"
      type=\"text/css\">\n<link rel=\"icon\" type=\"image/png\" href=\"/favicon_2x.png\"
      sizes=\"32x32\">\n<link rel=\"icon\" type=\"image/png\" href=\"/favicon.png\"
      sizes=\"16x16\">\n<script src=\"/script/vendor/boxover.js?rev=291\" type=\"text/javascript\"></script>\n<script
      type=\"text/javascript\">FinvizSettings = {hasUserPremium: false, name: \"\",
      chartsDomain: \"https://charts2.finviz.com\", nodeChartsDomain: \"https://charts2-node.finviz.com\",
      hasUserPersistentDrawings: false, hasUserNodeCharts: false, hasUserStickyHeader:
      false};</script><script type=\"text/javascript\" src=\"/script/vendor/d3-json.js?rev=291\"></script><script
      src=\"/script/browser_support.js?rev=291\" type=\"text/javascript\"></script>\r\n
      \           <script type=\"text/javascript\" src=\"/assets/dist/runtime.c7ab9164.js\"></script>\r\n
      \           <script type=\"text/javascript\" src=\"/assets/dist/vendors.9a2eb478.js\"></script>\r\n
      \           <script type=[...]
